{
  auto_https disable_redirects
}

http://newproject:80 {
  handle_path /api/realtime {
    reverse_proxy workspace:3001
  }

  handle_path /api/realtime/* {
    reverse_proxy workspace:3001
  }

  handle {
    reverse_proxy workspace:3000
  }
}